
<h1 class="display-4">Zad 4</h1>

<p class="mb-4">CRUD module</p>

<a href="/articles/list" class="btn btn-light">Podgląd artykułów</a>
<a href="/articles/add" class="btn btn-light">Dodaj nowy artykuł</a>
